body {
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
}

header {
    width: 100%;
    height: 60px;
}

header nav {
    display: flex;
    justify-content: flex-end;
    height: inherit;
}

header nav .nav-right-section {
    width: 250px;
    height: auto;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

nav .nav-right-section a {
    margin-right: 20px;
    color: #000000;
}

nav .nav-right-section .menu-icono {
    background-image: url("https://static.thenounproject.com/png/756729-200.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 25px;
    height: 25px;
}

nav .nav-right-section img {
    border-radius: 50%;
    margin-left: 20px;
}

main{
    margin-top: 165px;
    text-align: center;
}

main .main-logo {
    width: 530px;
    margin: 0 auto;
    margin-bottom: 3px;
}

main .main-logo img {
    width: 277PX;
}

main .main-input {
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
}

main .main-input-container {
    width: 525px;
    border-radius: 100px;
    border: 1px solid #dfe1e5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 10px 0 10px;
    margin: 0 10px 0 10px;
}


main .main-input input {
    width: 450px;
    height: 40px;
    border: none;
    outline: none;
}

main .main-input-container:hover {
    box-shadow: 0 1px 6px 0 #20212447;
    border-color: #dfe1e500;
}

main .main-input .search-icono {
    background-image: url("https://cdn0.iconfinder.com/data/icons/google-material-design-3-0/48/ic_search_48px-512.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 20px;
    height: 20px;
    opacity: 0.4;
    margin: 8px;
}

main .main-input .micro-icono {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/726px-Google_mic.svg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

main .main-input .lens-icono {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGFjCgs_yOrCJpwOCQ-EJEz-E-zUbNyyFAaA&usqp=CAU");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin: 0px 8px 0px 15px;
}

main .main-buttons {
    width: 530px;
    margin: 0 auto;
}

main .main-buttons div {
    display: inline-block;
}

main .main-buttons button {
    height: 36px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    font-size: 14px;
    color: #5f6368;
    border-radius: 5px;
    padding: 0 15px;
    margin-right: 15px;
}

main .main-buttons button:hover {
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px #000001;
    color: #222;
    cursor: pointer;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    flex-shrink: 0;
    box-sizing: border-box;
    font-size: 14px;
}

footer .footer-region {
    padding: 15px 30px;

    background-color: #f2f2f2;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: #70757a;
}

footer .footer-rigth-left {
    padding: 0 5px 3px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #f2f2f2;
}

footer ul {
    list-style: none;
    display: flex;
    padding: 0 10px 0 0;
    font-size: 14px;
}

footer ul li a {
    margin-left: 25px;
    padding-right: 20px;
    color: #70757a;
}
